:root {
  --shadow-hard: 4px 6px 8px 0px rgba(0, 0, 0, 0.322);
  --effect-hard-shadow: var(--shadow-hard);
  --shadow-medium: 2px 4px 6px 0px rgba(0, 0, 0, 0.278);
  --effect-medium-shadow: var(--shadow-medium);
  --shadow-soft: 2px 2px 20px 0px rgba(0, 0, 0, 0.122);
  --effect-soft-shadow: var(--shadow-soft);
}

.shadow-hard {
  box-shadow: var(--shadow-hard);
}

.shadow-medium {
  box-shadow: var(--shadow-medium);
}

.shadow-soft {
  box-shadow: var(--shadow-soft);
}
